$mat-rf-primary: (
    50 : #e0f0e6,
    100 : #b3dac1,
    200 : #80c298,
    300 : #4da96e,
    400 : #26964f,
    500 : #008430,
    600 : #007c2b,
    700 : #007124,
    800 : #00671e,
    900 : #005413,
    A100 : #86ff96,
    A200 : #53ff6a,
    A400 : #20ff3e,
    A700 : #07ff28,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-rf-accent: (
    50 : #fdfbe1,
    100 : #f9f5b4,
    200 : #f5ef83,
    300 : #f1e951,
    400 : #eee42b,
    500 : #ebdf06,
    600 : #e9db05,
    700 : #e5d704,
    800 : #e2d203,
    900 : #ddca02,
    A100 : #ffffff,
    A200 : #fffbd1,
    A400 : #fff69e,
    A700 : #fff385,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-rf-primary);
$accent: mat-palette($mat-rf-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);