<div class="inline-flex mb-2 h-11 bg-gradient-to-tr from-primary to-secondary text-white rounded-lg w-full">
    <button matRipple (click)="previous()" class="flex-none text-sm pt-2 pb-1 px-4 rounded-l-lg">
        <mat-icon class="material-icons-round">navigate_before</mat-icon>
    </button>
    
    <button matRipple (click)="current()" class="flex-1 pt-2 pb-1 px-4 text-center">
        {{date | date : 'fullDate' : '+110': 'nl-be' | titlecase}}
    </button>
    <button matRipple (click)="next()" class="flex-none text-sm pt-2 pb-1 px-4 rounded-r-lg">
        <mat-icon class="material-icons-round">navigate_next</mat-icon>
    </button>
</div>