<div class="inline-flex mb-2 h-11 bg-gradient-to-tr from-primary to-secondary rounded-lg w-full">
    <button matRipple (click)="previous()" class="flex-none text-sm pt-2 pb-1 px-4 rounded-l-lg">
        <mat-icon class="material-icons-round">navigate_before</mat-icon>
    </button>
    <span class="flex-1 mx-2 text-center mt-2.5">
        {{date | date : 'fullDate' : '+110': 'nl-be' | titlecase}}
    </span>
    <button matRipple (click)="next()" class="flex-none text-sm pt-2 pb-1 px-4 rounded-r-lg">
        <mat-icon class="material-icons-round">navigate_next</mat-icon>
    </button>
</div>