<form [formGroup]="generalForm" class="mb-8">
    <div class="shadow-lg overflow-hidden rounded-lg">
      <div class="px-4 py-5 bg-gray-50 dark:bg-gray-700 border border-b-0 dark:border-gray-500 sm:p-6 rounded-t-lg">
        <div class="grid grid-cols-5 gap-4">
  
          <div class="col-span-6">
            <label class="block text-sm text-gray-700 dark:text-gray-100">Voornaam</label>
            <input formControlName="firstName" type="text"
              class="mt-1 focus:ring-primary focus:border-primary dark:focus:border-primary text-gray-900 dark:text-gray-50 dark:bg-gray-800 border-gray-300 dark:border-gray-500 w-full shadow-lg rounded-lg">
          </div>
  
          <div class="col-span-6">
            <label class="block text-sm text-gray-700 dark:text-gray-100">Achternaam</label>
            <input formControlName="lastName" type="text"
              class="mt-1 focus:ring-primary focus:border-primary dark:focus:border-primary text-gray-900 dark:text-gray-50 dark:bg-gray-800 border-gray-300 dark:border-gray-500 w-full shadow-lg rounded-lg">
          </div>
  
          <div class="col-span-6">
            <label class="block text-sm text-gray-700 dark:text-gray-100">Geboortedatum</label>
            <input formControlName="dateOfBirth" type="date"
              class="mt-1 focus:ring-primary focus:border-primary dark:focus:border-primary text-gray-900 dark:text-gray-50 dark:bg-gray-800 border-gray-300 dark:border-gray-500 w-full shadow-lg rounded-lg">
          </div>
  
          <div class="col-span-6">
            <label class="block text-sm text-gray-700 dark:text-gray-100">Email</label>
            <input formControlName="email" type="email"
              class="mt-1 focus:ring-primary focus:border-primary dark:focus:border-primary text-gray-900 dark:text-gray-50 dark:bg-gray-800 border-gray-300 dark:border-gray-500 w-full shadow-lg rounded-lg">
          </div>
  
          <ng-container *ngIf="user.id.toString() == ''" >
            <div class="col-span-6">
              <label class="block text-sm text-gray-700 dark:text-gray-100">Wachtwoord</label>
              <input formControlName="password" type="password" 
              class="mt-1 focus:ring-primary focus:border-primary dark:focus:border-primary text-gray-900 dark:text-gray-50 dark:bg-gray-800 border-gray-300 dark:border-gray-500 w-full shadow-lg rounded-lg">
            </div>
          </ng-container>

          <app-shared-image-upload class="col-span-6"
            [imageUrl]="user?.imageURL? user.imageURL : 'assets/img/user.png'">
          </app-shared-image-upload>
        </div>
      </div>
      <button matRipple type="submit" [disabled]="!generalForm.dirty || generalForm.invalid"
        class="bg-gradient-to-tr from-primary to-secondary text-white font-medium text-center py-2 w-full disabled:opacity-50 disabled:cursor-default">
        <span>Opslaan</span>
      </button>
    </div>
  </form>
  