<div class="flex mt-2 mb-4">
    <div class="flex-shrink-0">
        <div class="flex items-center justify-center h-12 w-12">
            <img class="h-12 w-12 rounded-full" src="assets/img/table.png" alt="">
        </div>
    </div>
    <div class="ml-4">
        <dt class="text-lg leading-6 font-medium">
            <span class="mr-2">Tafel 1, verdiep 1</span>
        </dt>
        <dd class="text-sm text-blue-900 dark:text-blue-300 hover:underline focus:underline">
            <!-- TODO : Tel phone van contact -->
            <a href="tel:">Dany van Spoel</a>
        </dd>
        <dd class="text-sm text-gray-600 dark:text-gray-300">
            <span>Thomas More Geel</span>
        </dd>
        <dd class="text-sm text-gray-600 dark:text-gray-300">
            <span>Kleinhoefstraat 4, 2440 Geel</span>
        </dd>
        <dd class="text-sm text-gray-600 dark:text-gray-300">
            <span>Dit is een beschrijving! Jeuj~!</span>
        </dd>
        <dd class="text-sm mt-2">
            <span>Deze tafel is momenteel niet in gebruik.</span>
        </dd>
        <div matRipple class="mt-5 bg-gradient-to-tr cursor-pointer from-primary to-secondary rounded-full">
            <p class="text-center px-2 pb-2 pt-4 text-xl text-white">Match plannen</p>
        </div>
    </div>
</div>