<div [ngClass]="darkMode">
    <!-- <app-shared-spinner></app-shared-spinner> -->
    <div class="dark:bg-gray-600 bg-gray-50 text-gray-900 dark:text-white w-full min-h-screen h-full">
        <div class="mx-2 pb-14">
            <div id="content" class="container mx-auto">
                <div class="h-14 pt-1">
                    <button mat-icon-button *ngIf="isAdmin" class="float-left">
                        <mat-icon class="material-icons-round">sort</mat-icon>
                    </button>
                    <button mat-icon-button class="hover:text-yellow-500 focus:text-yellow-500 float-right" (click)="toggleDarkMode()">
                        <ng-container *ngIf="darkMode == 'light'; else darkTemplate">
                            <mat-icon class="material-icons-round">brightness_2</mat-icon>
                        </ng-container>
                        <ng-template #darkTemplate>
                            <mat-icon class="material-icons-round">wb_sunny</mat-icon>
                        </ng-template>
                    </button>
                </div>
                <div class="my-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-navigation></app-navigation>
    </div>
</div>