<mat-sidenav-container (backdropClick)="onBackdropClick()" 
                       class="example-sidenav-container">

  <mat-sidenav id="sideNav" [opened]="sideNavToggled$ | async" class="sidebar"
               [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" >

    <ng-scrollbar visibility="hover">

      <div class="rf-nav-profile">
        <button mat-button disabled class="p-1">
          <img src="assets/img/placeholder.jpg">
          <span class="rf-profile-text text-dark">
            Voornaam Naam
          </span>
        </button>
      </div>
    
      <mat-nav-list *ngFor="let menuItem of menuItems">
        <div *ngIf="menuItem.category" class="rf-category">{{menuItem.category}}</div>
        <a mat-list-item [routerLink]="[menuItem.path]" 
          class="rf-navItem {{menuItem.class}}" routerLinkActive="rf-nav-active">
          <mat-icon>{{menuItem.icon}}</mat-icon>
          <span>{{menuItem.title}}</span>
        </a>
      </mat-nav-list>
    </ng-scrollbar>
  </mat-sidenav>

  <mat-sidenav-content class="rf-main-panel">
    <rf-core-toolbar-shell></rf-core-toolbar-shell>
    <div class="rf-content">
        <router-outlet></router-outlet>
    </div>
    <rf-core-footer></rf-core-footer>
  </mat-sidenav-content>

</mat-sidenav-container>