<h2 class="text-center">
  {{match.name|truncate:35}}
</h2>
<div class="flex flex-col gap-4">
  <app-match-team [match]="match"></app-match-team>
  <div class="grid grid-cols-2 gap-3">
    <div class="grid grid-cols-2 gap-2">
      <button (click)="changeScore(true, false)" mat-fab
        class="bg-gradient-to-tr from-red-700 to-pink-600 text-white place-self-center">
        <mat-icon class="material-icons-round">remove</mat-icon>
      </button>
      <button mat-fab class="bg-gradient-to-tr from-blue-700 to-cyan-600 text-white place-self-center">
        <mat-icon (click)="changeScore(true, true)" class="material-icons-round">add</mat-icon>
      </button>
    </div>
    <div class="grid grid-cols-2 gap-3">
      <button (click)="changeScore(false, false)" mat-fab
        class="bg-gradient-to-tr from-red-700 to-pink-600 text-white place-self-center">
        <mat-icon class="material-icons-round">remove</mat-icon>
      </button>
      <button (click)="changeScore(false, true)" mat-fab
        class="bg-gradient-to-tr from-blue-700 to-cyan-600 text-white place-self-center">
        <mat-icon class="material-icons-round">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="mx-5 mt-3">
    <button (click)="endMatch()" matRipple class="bg-gradient-to-tr from-primary to-secondary 
                             text-white w-full rounded-full shadow-lg pb-1 pt-2">
      <mat-icon class="material-icons-round mr-2">flag</mat-icon>
      <p class="text-xl">Beëindigen</p>
    </button>
  </div>
  <app-shared-score [match]="match">

  </app-shared-score>
