<div class="max-w-full mx-auto p-5">
  <div class="flex flex-row items-center">
    <div class="w-8/12 float-right">
      <p class="mb-1 text-center text-2xl text-gray-900 dark:text-gray-50">{{getTop3()[1].score}}</p>
      <img class="w-full shadow-lg rounded-full align-middle ring-4 ring-gray-400" [src]="getTop3()[1].teamImageUrl ? getTop3()[1].teamImageUrl : 'assets/img/team.png'" alt="..." />
      <p class="pt-3 text-center text-gray-600 dark:text-gray-300">{{getTop3()[1].teamName | truncate:20}}</p>
    </div>
    <div class="w-full z-10">
      <p class="mb-1 text-center text-4xl text-gray-900 dark:text-gray-50">{{getTop3()[0].score}}</p>
      <img class="w-full shadow-lg rounded-full align-middle ring-4 ring-yellow-500" [src]="getTop3()[0].teamImageUrl ? getTop3()[0].teamImageUrl : 'assets/img/team.png'" alt="..." />
      <p class="pt-3 text-center text-gray-600 dark:text-gray-300">{{getTop3()[0].teamName | truncate:20}}</p>
    </div>
    <div class="w-8/12 float-left">
      <p class="mb-1 text-center text-2xl text-gray-900 dark:text-gray-50">{{getTop3()[2].score}}</p>
      <img class="w-full shadow-lg rounded-full align-middle ring-4 ring-yellow-900" [src]="getTop3()[2].teamImageUrl ? getTop3()[2].teamImageUrl : 'assets/img/team.png'" alt="..." />
      <p class="pt-3 text-center text-gray-600 dark:text-gray-300">{{getTop3()[2].teamName | truncate:20}}</p>
    </div>
  </div>
</div>

<div class="flex flex-col mb-8">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="rounded-lg shadow overflow-hidden border-b border-gray-200 dark:border-gray-500">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-500">
            <tbody class="bg-white dark:bg-gray-700 divide-y divide-grey-200 dark:divide-gray-500">
              <tr *ngFor="let ranking of rankings" [routerLink]="['/app/user/team/details/'] + ranking?.teamId" class="cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-800">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" [src]="ranking.teamImageUrl ? ranking.teamImageUrl : 'assets/img/team.png'" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900 dark:text-gray-50">
                        {{ranking.teamName|truncate:30}}
                      </div>
                      <div class="text-sm text-gray-500 dark:text-gray-400">
                        {{ranking.teamCompanyName |truncate:30}}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-3 whitespace-nowrap text-right text-xl font-medium text-gray-900 dark:text-gray-50">
                    {{ranking.score}}
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  