<section *ngIf="!sideNavToggled" class="dark:bg-gray-700 bg-gray-100 text-gray-900 dark:text-white block fixed inset-x-0 bottom-0 z-10 shadow">
	<div class="flex justify-between">
		<button *ngFor="let route of routes" [routerLink]="route.path" routerLinkActive="text-primary-dark dark:text-primary-light"
			 class="w-full focus:text-primary hover:text-primary dark:focus:text-primary-light dark:hover:text-primary-light cursor-pointer justify-center inline-block text-center pt-2 pb-1">
			<mat-icon class="material-icons-round">{{route.icon}}</mat-icon>
			<span class="tab tab-home block text-xs">{{route.title}}</span>
		</button>
	</div>
</section>