@import "../variables";

.mat-dialog-container {
  padding-top: 0 !important;
}

.rf-dialogTitle {
  background-color: $primary;
  color: #fff;
  margin: 0px -24px 12px -24px;
  padding: 24px 24px 6px 24px;
}
