@import '../variables';

.rf-toolbar {
    background-color: transparent !important;
}

.rf-logo {
    height: $header-size;
    padding: 7px .7rem;

    margin: 10px;
    
    cursor: pointer;
    outline: none !important;

    img {
        height: $header-size - 15px;
    }

    .rf-logo-text {
        margin-left: 1rem;
        font-family: Montserrat, sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
    }

    .rf-login {
        padding: 0 !important;
        margin: -10px 0 15px -10px;
    }
}

.rf-menu-spacer {
    flex: 1 1 auto;
}

.rf-toolbar-border {
    border-top: 1px solid #ccc;
    margin: 0 10px;
}