<div *ngIf="!searchbar" class="inline-flex w-full h-12 shadow-lg rounded-xl px-2 py-1 mb-2 bg-gradient-to-tr from-primary to-secondary text-white">
    <button mat-icon-button type="button" class="flex-none" *ngIf="hasBackButton" [routerLink]="[route]">
        <mat-icon class="material-icons-round">keyboard_backspace</mat-icon>
    </button>
    <span class="flex-1 mx-2 mt-1.5 font-medium text-lg">{{title | titlecase}}</span>
    <button mat-icon-button type="button" class="flex-none" *ngIf="hasSearchButton" (click)="toggleSearchBar()">
        <mat-icon class="material-icons-round">search</mat-icon>
    </button>
    <button mat-icon-button type="button" class="flex-none" *ngIf="hasAddButton" (click)="addPressed()">
        <mat-icon class="material-icons-round">add</mat-icon>
    </button>
</div>

<div *ngIf="searchbar" class="w-full h-12 shadow-lg rounded-xl px-2 py-1 mb-2 bg-white text-gray-900 border flex justify-between items-center relative">
    <input type="text" (keyup)="keyUp($event.target.value)" placeholder="Zoeken..."
           class="appearance-none ml-1 w-full outline-none focus:outline-none active:outline-none border-none focus:ring-0"/>
    <button mat-icon-button type="button" (click)="toggleSearchBar()" class="ml-1">
      <mat-icon class="material-icons-round">close</mat-icon>
    </button>
</div>