<div class="w-full shadow-lg rounded-xl px-2 py-1 mb-2 bg-gradient-to-tr from-primary to-secondary text-white">
    <button mat-icon-button *ngIf="hasBackButton" [routerLink]="['/app/home']">
        <mat-icon class="material-icons-round">keyboard_backspace</mat-icon>
    </button>
    <span class="ml-2 font-medium text-lg">{{title}}</span>
    <button mat-icon-button class="float-right" *ngIf="hasAddButton" (click)="addPressed()">
        <mat-icon class="material-icons-round">playlist_add</mat-icon>
    </button>
</div>