<div class="flex mt-2 mb-4">
  <div class="flex-shrink-0">
    <div class="flex items-center justify-center h-12 w-12">
      <img class="h-12 w-12 rounded-full" [src]="team?.imageURL ? team?.imageURL:'assets/img/team.jpg'" alt="">
    </div>
  </div>
  <div class="ml-4">
    <dt class="text-lg leading-6 font-medium">
      <span class="mr-2">{{team?.name}}</span>
      <button *ngIf="team|teamDetailsToOverview|authUserTeamCaptain" mat-icon-button [routerLink]="['edit']">
        <mat-icon class="material-icons-round">edit</mat-icon>
      </button>
    </dt>
    <dd class="text-sm text-blue-900 dark:text-blue-300 hover:underline focus:underline">
      <a [href]="'mailto:'+team?.captain.email.toString()">{{team?.captain.firstName}} {{team?.captain.lastName}}</a>
    </dd>
    <dd class="text-sm text-gray-600 dark:text-gray-300">
      <span>{{team?.companyName}}</span>
    </dd>
    <dd class="text-sm text-gray-600 dark:text-gray-300">
      <span>{{team?.location}}</span>
    </dd>
  </div>
</div>
<div class="mx-3">
  <app-shared-toolbar [title]="'Teamleden'" [hasBackButton]="false" [hasAddButton]="false" [hasSearchButton]="false">
  </app-shared-toolbar>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="rounded-lg shadow overflow-hidden border-b border-gray-200 dark:border-gray-500">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-500">
            <tbody class="bg-white dark:bg-gray-700 divide-y divide-grey-200 dark:divide-gray-500">
              <!-- TODO : Only show delete and verified buttons for captain; member only sees accepted members without buttons (see last TR) -->
              <tr *ngFor="let member of team?.participants.concat(team?.requestedParticipants)">
                <ng-container
                  *ngIf="(team|teamDetailsToOverview|authUserTeamCaptain) || team.requestedParticipants.indexOf(member) == -1 || (member.id|idMatchesAuthUserId)">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        <img class="h-10 w-10 rounded-full"
                          [src]="member.imageURL ? member.imageURL : 'assets/img/user.png'" alt="">
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900 dark:text-gray-50">
                          <a [href]="'mailto:'+member.email.toString()"
                            class="text-blue-900 dark:text-blue-300 hover:underline focus:underline">
                            {{member.firstName.toString() + " "+ member.lastName.toString()|truncate:35}}
                          </a>
                        </div>
                        <div class="text-sm text-gray-500 dark:text-gray-400">
                          {{member.dateOfBirth|date:'d/M/y'}}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-2 whitespace-nowrap text-right text-sm font-medium">
                    <ng-container *ngIf="(team|teamDetailsToOverview|authUserTeamCaptain)||(member.id|idMatchesAuthUserId)">
                      <button *ngIf="team.requestedParticipants.indexOf(member) == -1"
                        (click)="$event.stopPropagation()" mat-icon-button class="text-green-700 dark:text-green-600">
                        <mat-icon class="material-icons-round">check_circle</mat-icon>
                      </button>
                      <button *ngIf="team.requestedParticipants.indexOf(member) != -1"
                        (click)="$event.stopPropagation(); acceptMember(member.id)" mat-icon-button
                        class="text-gray-400 dark:text-gray-500">
                        <mat-icon class="material-icons-round">check_circle</mat-icon>
                      </button>
                      <!-- Event.stopPropagation() wordt opgeroepen zodat de onClick() van de TR niet word aangeroepen -->
                      <button *ngIf="(member.id != team.captain.id) && ((team|teamDetailsToOverview|authUserTeamCaptain) || (member.id|idMatchesAuthUserId))"
                        (click)="$event.stopPropagation(); deleteMember(member.id)" mat-icon-button
                        class="text-red-500">
                        <mat-icon class="material-icons-round">delete_outline</mat-icon>
                      </button>
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <!-- <app-shared-paginator
                tableName="Teamleden"
                [from]="1"
                [to]="3"
                [total]="3"
              ></app-shared-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>
