<div [ngClass]="darkMode">
    <div class="min-h-screen flex items-center justify-center dark:bg-gray-600 bg-gray-50 text-gray-900 dark:text-white py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div class="fixed top-3 right-4">
                <button mat-icon-button (click)="toggleDarkMode()">
                    <ng-container *ngIf="darkMode == 'light'; else darkTemplate">
                        <mat-icon class="material-icons-round">wb_sunny</mat-icon>
                    </ng-container>
                    <ng-template #darkTemplate>
                        <mat-icon class="material-icons-round">brightness_2</mat-icon>
                    </ng-template>
                </button>
            </div>
            <div>
                <img class="mx-auto h-24 w-auto" src="assets/img/logo-round.png" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-extrabold">
                    Maak een nieuw account aan
                </h2>
                <p class="mt-2 text-center text-sm">
                Of
                <a [routerLink]="['/auth/login']" class="font-medium text-primary dark:text-primary-light hover:underline focus:underline">
                    log in op uw bestaand account
                </a>
                </p>
            </div>
            <form class="mt-8 space-y-6">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div class="grid grid-cols-2">
                        <div>
                            <label for="firstName" class="sr-only">Voornaam</label>
                            <input id="firstName" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border focus:ring-primary focus:border-primary dark:focus:border-primary placeholder-gray-500 dark:placeholder-gray-200 text-gray-900 dark:text-gray-50 dark:bg-gray-700 border-gray-300 dark:border-gray-500 rounded-tl-md focus:z-10 sm:text-sm" placeholder="Voornaam">
                        </div>
                        <div>
                            <label for="lastName" class="sr-only">Achternaam</label>
                            <input id="lastName" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border focus:ring-primary focus:border-primary dark:focus:border-primary placeholder-gray-500 dark:placeholder-gray-200 text-gray-900 dark:text-gray-50 dark:bg-gray-700 border-gray-300 dark:border-gray-500 rounded-tr-md focus:z-10 sm:text-sm" placeholder="Achternaam">
                        </div>
                    </div>
                    <div>
                        <label for="email" class="sr-only">E-mail adres</label>
                        <input id="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border focus:ring-primary focus:border-primary dark:focus:border-primary placeholder-gray-500 dark:placeholder-gray-200 text-gray-900 dark:text-gray-50 dark:bg-gray-700 border-gray-300 dark:border-gray-500 focus:z-10 sm:text-sm" placeholder="E-mail">
                    </div>
                    <div>
                        <label for="password" class="sr-only">Wachtwoord</label>
                        <input id="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border focus:ring-primary focus:border-primary dark:focus:border-primary placeholder-gray-500 dark:placeholder-gray-200 text-gray-900 dark:text-gray-50 dark:bg-gray-700 border-gray-300 dark:border-gray-500 focus:z-10 sm:text-sm" placeholder="Wachtwoord">
                    </div>

                    <div class="w-full h-full items-center justify-center bg-grey-lighter">
                      <label class="flex flex-col items-center px-4 py-2 rounded-b-md tracking-wide cursor-pointer text-gray-500 dark:text-gray-200 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-500 ">
                          <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                          </svg>
                          <span class="mt-2 text-base leading-normal">Selecteer Profielfoto</span>
                          <input type='file' class="hidden"  accept="image/x-png,image/jpeg" >
                      </label>
                    </div>
                </div>
        
                <!-- <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <input id="remember_me" type="checkbox" class="h-4 w-4 text-primary-light dark:text-primary focus:ring-offset-primary-light dark:focus:ring-offset-primary border-gray-300 rounded">
                    <label for="remember_me" class="ml-2 block text-sm">
                    Onthoud mij
                    </label>
                </div>
                </div> -->
        
                <div>
                <button matRipple type="submit" class="group relative w-full flex justify-center py-2 px-4 border dark:border-gray-700 border-transparent text-sm font-medium rounded-md text-white bg-gradient-to-tr from-primary to-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                    <!-- Heroicon name: lock-closed -->
                    <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                    </svg>
                    </span>
                    Registreer & log in
                </button>
                </div>
            </form>
        </div>
    </div>
</div>